.about-container {
  width: 100%;
  height: 500px;
  text-align: center;
  color: white;
}

a {
  color: #FFC107;
}

h2 {
  font-size: 28px;
  margin: 10px;
}

.intro {
  display: flex;
  justify-content: center;
  height: 200px;
}

.attributes {
  text-align: left;
  width: 50%;
  margin-left: 100px;
}

.iam {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  text-align: right;
}

.att {
  display: none;
}

.background {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  text-align: left;
  p {
    margin-bottom: 25px;
    line-height: 150%;
  }

}

#favorites {
  margin-top: 50px;
}

.favorites-links {
  li {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .intro {
    flex-wrap: wrap;
  }
  h2 {
    font-size: 20px;
  }
  .iam {
    text-align: left;
    width: 75%;
  }
  .attributes {
    text-align: left;
    width: 100%;
  }
  .background {
    margin-top: 50px;
    width: 95%;
    margin-left: 10px;
  }
}
