.projects-container {
  text-align: center;
}

.timetiles {
  margin-bottom: 50px;
}

.screenshot {
  width: 300px;
  margin: 5px;
}

.project-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 600px;
  text-align: left;
}

.project-images {
  width: 400px;
  margin-right: 5px;
}

.gh-link {
  font-size: 24px;
  margin-right: 10px;
}

.techstack {
  font-weight: bold;
  margin-bottom: 25px;
}

.learned {
  margin-top: 50px;
  font-weight: bold;
}

.project-description {
  width: 400px;
  margin-left: 5px;
}

.staytuned {
  display: block;
  margin-top: 100px;
}
