.projects-container {
  text-align: center;
  color: white;
}

.timetiles {
  margin-bottom: 50px;
}

.project-heading {
  color: white;
  font-size: 36px;
}

.screenshot {
  width: 300px;
  margin: 5px;
}

.project-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 600px;
  text-align: left;
}

.project-images {
  width: 400px;
  margin-right: 5px;
}

.gh-link {
  font-size: 24px;
  margin-right: 10px;
}

.heading {
  color: #00BCD4;
  font-size: 24px;
}

.techstack {
  font-weight: bold;
  margin-bottom: 25px;
}

.learned {
  margin-top: 50px;
  font-weight: bold;
}

.project-description {
  width: 400px;
  margin-left: 5px;
  display: block;
}

.staytuned {
  display: block;
  margin-top: 50px;
}

@media screen and (max-width: 500px) {
  .project-images {
    text-align: center;
  }
  .techstack {
    margin-bottom: 50px;
  }
}
