#main {
  padding-top: 50px;
  height: 600px;
}

.card-container {
  margin: 0 auto;
  width: 600px;
  height: 350px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card-left {
  float: left;
  width: 330px;
  height: 100%;
  background-color: $background-dark;
  color: $text-light;
}

.card-left-summary {
  margin: 25px 25px 8px 25px;

  h1 {
    font-family: 'Questrial', sans-serif !important;
    margin-bottom: 10px;
  }

  p {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

.nav-links-container {
  width: 100%;
  height: 70px;
  text-align: center;
  cursor: pointer;

  li {
    display: inline-block;
    margin: 8px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: $text-light;
    border-top: 2px solid $text-light;
    border-bottom: 2px solid $text-light;
  }

  li:hover {
    color: $hover-light;
    border-top: 2px solid $hover-light;
    border-bottom: 2px solid $hover-light;
  }
}

.card-right {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 270px;
  height: 100%;
  background-color: $teal-green;
}

.myphoto {
  margin-top: 0px;
  width: 270px;
  background-color: white;
}

.social-links {
  ul {
    padding-left: 0px;
    text-align: center;
  }

  li {
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
  }

  i {
    color: white;
    font-size: 32px;
  }

  i:hover {
    color: $hover-light;
  }
}


@media screen and (max-width: 800px) {
  #main {
    height: 1000px;
  }
  .card-left, .card-container, .card-right {
    width: 360px;
  }
  .card-right {
    height: 380px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
  .myphoto {
    width: 250px;
    margin-top: 25px !important;
  }
}
