a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: $dark-gray;
}

.page-nav li {
  display: inline-block;
  margin: 15px;
}

.page-nav a:hover {
  color: $teal-green;
  font-weight: bold;
}
