#projects {
   height: 1000px;
}

.projects-container {
  text-align: center;
  color: $text-dark;

  a {
    color: #4DD0E1;;
    text-decoration: none;
  }
}

.project {
  margin-bottom: 50px;
}

.project-heading {
  color: #4DD0E1;
  font-size: 36px;
}

.screenshot {
  width: 300px;
  margin: 5px;
}

.project-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 600px;
  text-align: left;
  p {
    line-height: 175%;
    margin-left: 0px;
  }
  li {
    line-height: 125%;
  }
}

.project-images {
  width: 400px;
  margin-right: 5px;
}

.gh-link {
  font-size: 24px;
  margin-right: 10px;
}

.heading {
  color: #4DD0E1;
  font-size: 24px;
}

.techstack {
  font-weight: bold;
  margin-bottom: 25px;
  color: $text-dark;
}

.learned {
  margin-top: 50px;
  font-weight: bold;
  color: $text-dark;
}

.project-description {
  width: 400px;
  margin-left: 5px;
  display: block;
}

.staytuned {
  display: block;
  margin-top: 50px;
  p {
    font-size: 32px;
    line-height: normal;
  }
}

@media screen and (max-width: 800px) {
  .project-images {
    text-align: center;
  }
  .techstack {
    margin-bottom: 50px;
  }
}
