#projects {
  height: auto;
}

.projects-container {
  text-align: center;
  color: $text-dark;
}

.project {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  overflow: auto;
  text-align: center;
}

.project-heading {
  color: $accent;
  font-size: 36px;
}

.project-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: left;
  p {
    line-height: 175%;
    margin-left: 0px;
  }
  li {
    margin-bottom: 10px;
  }
}

.project-links a {
  color: $accent;
  font-weight: bold;
  text-decoration: none;
}

.project-images {
  width: 400px;
  margin-right: 5px;

  img {
    width: 300px;
    margin: 5px;
    border: 1px solid $light-gray;
  }
}

.gh-link {
  font-size: 24px;
  margin-right: 10px;
}

.project-links a:hover {
  color: $light-teal;
}

.heading {
  color: #4DD0E1;
  font-size: 24px;
}

.techstack {
  font-weight: bold;
  margin-bottom: 25px;
  color: $text-dark;
}

.learned {
  margin-top: 50px;
  font-weight: bold;
  color: $text-dark;
}

.project-description {
  width: 400px;
  margin-left: 5px;
  display: block;
  p {
    font-size: 20px;
  }
}

.staytuned {
  text-align: center;
  display: block;
  margin-top: 50px;
  p {
    font-size: 24px;
    line-height: normal;
  }
  a {
    color: $light-teal;
  }
  a:visited {
    color: $light-teal;
  }
}

@media screen and (max-width: 800px) {
  .project-images {
    text-align: center;
  }
  .techstack {
    margin-bottom: 50px;
  }
}
