#skills {
  text-align: center;
}

.skills-container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  border: 2px solid $accent;
  color: $text-dark;
  min-width: 350px;
  height: 235px;
  margin: 15px;
  h3 {
    font-size: 22px;
    color: $accent;
  }
  ul {
    text-align: left;
  }
  .list-left {
    margin-top: -12px;
    width: 50%;
    float: left;
  }
  .list-right {
    margin-top: -13px;
    width: 50%;
    float: right;
    padding-left: 0px;
  }
  li {
    margin-bottom: 10px;
    font-size: 18px;
  }
}
