#skills {
  text-align: center;
}

.skills-container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  border: 2px solid $accent;
  color: $text-dark;
  width: 310px;
  margin: 15px;
  h3 {
    font-size: 22px;
    color: $accent;
  }

  .tech-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: -12px;
    padding: 10px;
    justify-content: center;
  }

  .tech-item {
    width: 60px;
    margin: 10px;

    img {
      width: 25px;
      height: 25px;
      margin: 0;
      padding: 0;
    }
    p {
      padding: 0;
      margin: 0;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .care-item {
    width: 100%;
    p {
      margin: 5px;
    }
  }
}
