#skills {
  text-align: center;
  height: 800px;
}

.skills-container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  background-color: $background-dark;
  color: $text-light;
  min-width: 350px;
  height: 225px;
  margin: 15px;
  // border: 2px solid $teal-green;
  h3 {
    color: $accent;
    font-size: 22px;
  }
  ul {
    text-align: left;
  }
  .list-left {
    margin-top: -12px;
    width: 50%;
    float: left;
  }
  .list-right {
    margin-top: -13px;
    width: 50%;
    float: right;
    padding-left: 0px;
  }
  li {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 800px){
  #skills {
    height: 1200px;
  }
}
