@import './animations.scss';
@import './fonts.scss';
@import './components/card.scss';
@import './components/skills.scss';

body {
  margin-top: 0px;
  font-family: 'Questrial', sans-serif;
  color: #212121;
}

.page {
  height: 1000px;
  width: 100%;
}

h1 {
  font-size: 42px;
  margin: 15px;
}

p {
  font-size: 18px;
  margin: 15px;
}

.nav-arrow {
  color: black;
  font-size: 56px;
  cursor: pointer;
  margin-bottom: 25px;
}

.arrow-container {
  width: 100%;
  margin-bottom: 25px;
}
