.slideDown {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

.slideUp {
  animation-name: slideUp;
  animation-duration: 1s;
  animation-timing-function: ease;
  visibility: visible !important;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-150%);
	}
}
